*{margin:0
padding:0
    }

/* header start*/

.contaier{ 
width:1200px;height:100px;
  overflow: hidden;margin: 0 auto;
}

.header-left{     padding: 5px;
    margin-top: 20px;
    width: 25%;
    
    display: inline-block;
    margin: top:-25px;
    text-align: center;
}



.header-right{  margin-top: 20px;
    width: 70%;
    
    float: right;
    margin-right: 38px;
}
.header-right ul{float: right;
    
}
.header-right ul li{
       text-align: center;
    display: inline-block;
    margin-right: 15px;
    

}

.header-right ul li a{
    text-decoration: none;
    display: block;
}
.header-right ul li a:hover{color:red;
    transition: .03s;
    
}

/*header end*/


/*banner start*/

.banner{background-image: url(image/laptop-5582775_1920.jpg);
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 100px 0}
 
.left-side{
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}


 h1{     font-size: 50px;
    font-size: 40px;
    color: white;
    margin-left: 114px;
    /* margin-right: -6px; */
    display: inline-block;
}
p{text-align: center;
    margin: 0 auto;
    display: inline-block;
    color: pink;
    margin-left: 86px;
    padding: 10px;
    width: 100%;
}
    
    
button{       background-color: red;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: -12px;
    margin-left: 185px;
    width: 50%;
    margin-top: 34px;
}

    
button:hover{
    color: hotpink;
    transition: .3s;
    background-color: aliceblue;
} 
    
    
    
    /* banner End*/
    
    
    
.top{width: 100%;
   
    margin: 0 auto;
}



.top h1{
    color:black;text-align: center;margin-left: 650px;
}
    
.top p{ color:black;
}
    
.buttom{height: 500px;
    
    overflow: hidden;
}
.work1{ background-repeat: no-repeat;
    width: 500px;
    height: 400px;
     float: left;
    background-image: url(image/01.jpg);
     background-position: center;

} 
    
.work2{ width: 491px;
    height: 400px;
    background-image: url(image/02.jpg);
    background-position: center;
    float: left;
    background-repeat: no-repeat;
}
.work3{ width: 500px;
    height: 400px;
    float:left;
    background-image: url(image/03.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
    
.work1 p{display: inline-block;
    text-align: center;
    margin-top: 330px;
    margin-left: auto;
}
    

    

    
.work2 p{display: inline-block;
    text-align: center;
    margin-top: 330px;
    margin-left: auto;
}
    
.work3 p{display: inline-block;
    text-align: center;
    margin-top: 330px;
    margin-left: auto;
    
}  
    /* work section end*/
    /* vedio side start */
    
    
.video-side{ width: 1200px;height: 500px;margin: 0 auto; overflow: hidden;}
    


.siad-a{width:580px;height:500px;float:left;}



.siad-a h1{
    text-align: center;color:black;
}

.siad-a p{text-align: center;
    color: black;
    margin: 0 auto;
    display: inline-block;
}


.siad-b{width: 580px;height: 500px;
    float:left;text-align: center;

}
/* footer start*/

.footer{width: 1200px;height: 100px;background-color:lightpink; margin: 0 auto; margin-top:20px;border-radius: 10px; }

.footer p{ text-align: center;
    color: black;
    margin: 0 auto;
    padding-top: 20px;
    /* padding-right: 33px;}





